@import "../../cssGlobal/global";
.sidebar {
  display: flex;
  flex: 0.35;
  height: 100vh;
  // background-color: $bcColor;

  .sidebarLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bcColorSideBarLeft;
    padding: 7px 15px;

    .serverIcon {
      width: 60px;
      height: 60px;
      background-color: $bcColor;
      border-radius: 9999px;
      margin-top: 7px;
      margin-bottom: 10px;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
      }
    }
  }

  .sidebarRight {
    background-color: $bcColorSideBarRight;
    width: 300px;
    position: relative;
    flex-grow: 1;
    .sidebarTop {
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    }

    .sidebarChannels {
      padding: 13px;
      .siderbarChannelsHeader {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        .sidebarHeadeer {
          display: flex;
          align-items: center;
        }
        .siderbarAddIcon {
          cursor: pointer;
        }
      }
    }

    .siderbarFooter {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 93%;
      padding-bottom: 10px;
      border-top: 1px solid $textAndIconColor;
      padding-top: 10px;
      margin-left: -3px;

      .sidebarAccount {
        display: flex;
        align-items: center;
        img {
          width: 60px;
        }
        .accountName {
          margin-left: 5px;
          color: white;
          font-weight: 500;
        }
        span {
          color: $textAndIconColor;
        }
      }

      .sidebarVoice {
        display: flex;
        align-items: center;
        color: $textAndIconColor;
      }
    }
  }
}
